node_modules/
.DS_Store
*.log

# Python virtual environments
venv/
.venv/

# Backend specific
backend/__pycache__/
backend/*.db
backend/*.sqlite3
backend/instance/
backend/migrations/
backend/.env
backend/env/
backend/ENV/
backend/virtualenv/
backend/pyvenv.cfg
backend/pip-selfcheck.json
backend/lib/
backend/include/
backend/bin/
backend/Scripts/
backend/share/
backend/local/
backend/man/
backend/docs/_build/
backend/.pytest_cache/
backend/.mypy_cache/
backend/.coverage
backend/htmlcov/
backend/nosetests.xml
backend/coverage.xml
backend/build/
backend/dist/
backend/*.egg-info/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.so
backend/*.swp
backend/*~
backend/#*#
backend/.#*
backend/%.*
backend/._*
backend/Thumbs.db
backend/ehthumbs.db
backend/Desktop.ini
backend/.idea/
backend/.vscode/
backend/.DS_Store

# Local GCS staging directory
gcs_local_staging/

# Service Account Key
backend/gcp-sa-key.json
backend/passwords.json

# Rye
.rye-local.json
