<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photos by Logan Wu</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <header>
    <!-- HEADER_PLACEHOLDER -->
  </header>
  <main>
    <div id="album-viewer" class="grid-main">
      <!-- CONTENT_PLACEHOLDER -->
    </div>
  </main>
  <!-- FOOTER_PLACEHOLDER -->
  <div id="lightbox">
  <img src="" alt="Fullsize image">
  <span class="close-button" onclick="closeLightbox()">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
  </span>
  <span class="nav-button left-button" id="prev-button">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
  </span>
  <span class="nav-button right-button" id="next-button">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </span>
</div>
<script src="assets/js/script.js"></script>
    <script src="assets/js/gallery.js"></script>
</body>
</html>
