<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photos by Logan Wu</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <header>
    <!-- HEADER_PLACEHOLDER -->
  </header>
  <main>
    <div id="album-viewer" class="grid-main">
      <!-- CONTENT_PLACEHOLDER -->
    </div>
  </main>
  <!-- FOOTER_PLACEHOLDER -->
<div id="lightbox">
  <img src="" alt="Fullsize image">
  <span class="close-button" onclick="closeLightbox()">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <circle cx="12" cy="12" r="10"></circle>
  <line x1="15" y1="9" x2="9" y2="15"></line>
  <line x1="9" y1="9" x2="15" y2="15"></line>
</svg>
</span>
</div>
<script src="assets/js/script.js"></script>

</body>
</html>
