    <article id="fairfield">
        <h1>Gabby's Birthday Media</h1>

        <h2>Album viewer</h2>
        <p>Click an image to expand.</p>
        <p>Use the left/right arrow keys, on-screen buttons, or swipe to navigate between images.</p>
        <p>Press the X or Escape to exit the expanded view.</p>
        <ul>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous_babyg" target="_blank">Miscellaneous</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=01_calvina" target="_blank">Calvina</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=02_belle_and_bratt" target="_blank">Belle & Bratt</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=03_rosie_roulette" target="_blank">Rosie Roulette</a></li>
        </ul>

        <h2>High quality downloads (Google Drive)</h2>
        <p>Higher resolution and easier to download than the album viewer. Please tag <a href="https://www.instagram.com/photosby.loganwu/" target="_blank">@photosby.loganwu</a> on Instagram.</p>
        <ul>
            <li><a href="https://drive.google.com/drive/folders/1gZqxKWiA7dc0KWDtYHhRR1yg1rgeVEtT?usp=sharing" target="_blank">Miscellaneous</a></li>
            <li><a href="https://drive.google.com/drive/folders/1RRl5j0mqazuWUv-0dSgmCVdGP710-FRM?usp=sharing" target="_blank">Calvina</a></li>
            <li><a href="https://drive.google.com/drive/folders/1C7QMDtuWwo3ikpH3cNqIPrM5uslgGsl7?usp=sharing" target="_blank">Belle & Bratt</a></li>
            <li><a href="https://drive.google.com/drive/folders/1Ccjf4JaeyYQ5aL9ZTB4m7q8lCynjhjq3?usp=sharing" target="_blank">Rosie Roulette</a></li>
        </ul>
        
    </article>
