<section id="booking">
  <h1>Pole Haven, November 8</h1>
  <p>Thank you for your interest! Please fill out the form below to request your preferred time slot(s). I'll get back to you shortly to confirm your booking and provide payment instructions.</p>
  <p><strong>Shoot details:</strong> 30 minutes slot including 4 photos for $280 (extras are $60). Powerful, stadium-style lights with smoke. You can select the colours of your backlights. Please arrive at least 30 minutes before your session to warm up. Friends welcome!</p>
  <p><strong>Location:</strong> Pole Haven, 39-51 Intrepid St, Berwick.</p>
  <p><strong>Payment:</strong> Payment is via bank transfer and is required to confirm your booking.</p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfhvL1OsuLExuLL84LllnoMst0AvbjQBJ1Mc-eGeDkF-pH1iA/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>
