<article id="booking">
  <p>Bookings for public shoots are currently closed. If you would like a private session, please get in touch.</p>
  <h1>Pole Haven, May 16</h1>
  <p>Thank you for your interest! Please fill out the form below to request your preferred time slot(s). I'll get back to you shortly to confirm your booking.</p>
  <p><strong>Shoot details:</strong> 30-minute slot with 4 edits included. We will be playing with light trails around you and your environment. You can select the colours of the lights. Please arrive at least 30 minutes before your session to warm up. Friends welcome!</p>
  <p><strong>Location:</strong> Pole Haven, 39-51 Intrepid St, Berwick.</p>
  <p><strong>Payment:</strong> $120 reservation fee via bank transfer to confirm your booking.</p>
  <p>The remainder ($120) is due the day before the shoot.</p>
  <p>Extras are $60.</p>
  <p>If anything happens that prevents you from attending, please let me know! We can either transfer your reservation fee to another person or credit towards another shoot.</p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfhvL1OsuLExuLL84LllnoMst0AvbjQBJ1Mc-eGeDkF-pH1iA/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</article>
