<article id="booking">
  <p>Bookings are now closed.</p>
  <!-- <h1>Pole Haven, November 8</h1>
  <p>Thank you for your interest! Please fill out the form below to request your preferred time slot(s). I'll get back to you shortly to confirm your booking and provide payment instructions.</p>
  <p><strong>Shoot details:</strong> 30-minute slot with 4 edits included. Powerful, stadium-style lights with smoke. You can select the colours of your backlights. Please arrive at least 30 minutes before your session to warm up. Friends welcome!</p>
  <p><strong>Location:</strong> Pole Haven, 39-51 Intrepid St, Berwick.</p>
  <p><strong>Payment:</strong> $280 payment via bank transfer to confirm your booking. Extras are $60.</p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfhvL1OsuLExuLL84LllnoMst0AvbjQBJ1Mc-eGeDkF-pH1iA/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
</article>
