    <article id="carlton">
        <h1>Physipole Carlton Showcase Media</h1>

        <h2>Previews</h2>
        <ul>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous" target="_blank">Miscellaneous</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=01_becs" target="_blank">Becs</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=02_inter-adv_spin" target="_blank">Inter-Adv Spin</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=03_zona" target="_blank">Zona</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=04_tues_730_beg_pre-inter" target="_blank">Tues 7:30 Beg Pre-Inter</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=05_tues_630_beg_2" target="_blank">Tues 6:30 Beg 2</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=06_sonja" target="_blank">Sonja</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=07_cate" target="_blank">Cate</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=08_wed_730_inter" target="_blank">Wed 7:30 Inter</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=09_wed_630_inter-adv" target="_blank">Wed 6:30 Inter-Adv</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=10_chrissi" target="_blank">Chrissi</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=11_mon_630_inter-adv" target="_blank">Mon 6:30 Inter-Adv</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=12_wed_530_adv-elite" target="_blank">Wed 5:30 Adv-Elite</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=13_narelle" target="_blank">Narelle</a></li>
        </ul>

        <h2>Pricing schedule</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Photo (each)</td>
                    <td>$5</td>
                </tr>
                <tr>
                    <td>Photos (whole act)</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <td>Video (per act, edited on demand)</td>
                    <td>$20</td>
                </tr>
            </tbody>
        </table>
        <p>Please make payment to:</p>
        <p>Logan Wu Business<br>BSB: 062-692<br>Account number: 8299 8746</p>
        <p>Then send your request to <a href="https://instagram.com/photosby.loganwu">@photosby.loganwu</a> or email at loganbwu@gmail.com. For photos, copy/paste the filename from the top-left corner.</p>
    </article>
