    <article id="fairfield">
        <h1>Physipole Fairfield Showcase Media</h1>

        <h2>Pricing schedule</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Photo (each)</td>
                    <td>$5</td>
                </tr>
                <tr>
                    <td>Photos (whole act)</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <td>Video (per act, edited on demand)</td>
                    <td>$20</td>
                </tr>
            </tbody>
        </table>
        <p>Please make payment to:</p>
        <p>Logan Wu Business<br>BSB: 062-692<br>Account number: 8299 8746</p>
        <p>Then send your request to <a href="https://instagram.com/photosby.loganwu">@photosby.loganwu</a> or email at loganbwu@gmail.com. For photos, copy/paste the filenames from the top-left corner.</p>

        <h2>Previews</h2>
        <ul>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous_fairfield" target="_blank">Miscellaneous</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=01_inter-adv_hoop_mon_630" target="_blank">Inter/Adv Hoop Mon 6:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=02_inter_2_hoop_tues_730" target="_blank">Inter 2 Hoop Tues 7:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=03_pre-inter_hoop_tues_630" target="_blank">Pre-Inter Hoop Tues 6:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=04_inter_1_hoop_mon_730" target="_blank">Inter 1 Hoop Mon 7:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=05_kristy" target="_blank">Kristy</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=06_audrey" target="_blank">Audrey</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=07_victoria_and_sophie" target="_blank">Victoria and Sophie</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=08_pre-inter_pole_tues_630" target="_blank">Pre-Inter Pole Tues 6:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=09_done_de_beer" target="_blank">Done De Beer</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=10_beginner_2_static_thurs_730" target="_blank">Beginner 2 Static Thurs 7:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=11_heels_short_course" target="_blank">Heels Short Course</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=12_victoria" target="_blank">Victoria</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=13_inter-adv_spin_mon_530" target="_blank">Inter-Adv Spin Mon 5:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=14_inter-adv_static_mon_730" target="_blank">Inter-Adv Static Mon 7:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=15_beg-pre-inter_spin_thurs_630" target="_blank">Beg/Pre-Inter Spin Thurs 6:30</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=16_narelle" target="_blank">Narelle</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=17_instructors" target="_blank">Instructors</a></li>
        </ul>

        
    </article>
