    <article id="fairfield">
        <h1>Physipole Fairfield Showcase Media</h1>

        <h2>Previews</h2>
        <p>Previews coming soon!</p>
        <ul>
            <!-- <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous" target="_blank">Miscellaneous</a></li> -->
        </ul>

        <h2>Pricing schedule</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Photo (each)</td>
                    <td>$5</td>
                </tr>
                <tr>
                    <td>Video (per act, edited on demand)</td>
                    <td>$20</td>
                </tr>
            </tbody>
        </table>
        <p>Please make payment to:</p>
        <p>Logan Wu Business<br>BSB: 062-692<br>Account number: 8299 8746</p>
        <p>Then send your request to <a href="https://instagram.com/photosby.loganwu">@photosby.loganwu</a> or email at loganbwu@gmail.com. For photos, copy/paste the filename from the top-left corner.</p>
    </article>
