    <article id="ppc">
        <h1>Physipole Carlton Student Showcase</h1>
        <p>June 21st, 2025</p>

        <h2>Album viewer</h2>
        <p>Click an image to expand.</p>
        <p>Use the left/right arrow keys, on-screen buttons, or swipe to navigate between images.</p>
        <p>Press the X or Escape to exit the expanded view.</p>
        <ul>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous_ppc" target="_blank">Miscellaneous</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=01_dance" target="_blank">Dance</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=02_babyg" target="_blank">Baby G</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=03_beginner_spin" target="_blank">Beginner Spin</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=04_inter_spin" target="_blank">Intermediate Spin</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=06_mon_530_beg_2" target="_blank">Monday 5:30pm Beginner 2</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=07_mon_630_interadv" target="_blank">Monday 6:30pm Inter/Adv</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=08_narelle" target="_blank">Narelle</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=09_wed_730_inter" target="_blank">Wednesday 7:30pm Intermediate</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=10_wed_630_adv" target="_blank">Wednesday 6:30pm Advanced</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=11_brady" target="_blank">Brady</a></li>
        </ul>

        <h2>High quality downloads (Google Drive)</h2>
        <p>Higher resolution and easier to download than the album viewer. Please tag <a href="https://www.instagram.com/photosby.loganwu/" target="_blank">@photosby.loganwu</a> on Instagram.</p>
        <ul>
            <li><a href="https://drive.google.com/drive/folders/1b1ItxpBvsc_g3XnwpLY5c7McLGlsEE8G?usp=drive_link" target="_blank">Miscellaneous</a></li>
            <li><a href="https://drive.google.com/drive/folders/180BopCLB1fKXYKy3WIU-5B4ofWlU2CMG?usp=drive_link" target="_blank">Dance</a></li>
            <li><a href="https://drive.google.com/drive/folders/13ds27x2nWFppc-IlRVajCGRSYfGWuA-1?usp=drive_link" target="_blank">Baby G</a></li>
            <li><a href="https://drive.google.com/drive/folders/1-EffrremZd5j8f_SrRKyYCnfYrU-jUrk?usp=drive_link" target="_blank">Beginner Spin</a></li>
            <li><a href="https://drive.google.com/drive/folders/17euAqQYGhvbDrWdm3PAGIOAWvm1XcjAY?usp=drive_link" target="_blank">Intermediate Spin</a></li>
            <li><a href="https://drive.google.com/drive/folders/1t_wnze3NLbxVutSBQOzMVbpbEfBqXQXK?usp=drive_link" target="_blank">Monday 5:30pm Beginner 2</a></li>
            <li><a href="https://drive.google.com/drive/folders/1DZZvfAC3Li6sbJxlq6ytSH0NNBochY7q?usp=drive_link" target="_blank">Monday 6:30pm Inter/Adv</a></li>
            <li><a href="https://drive.google.com/drive/folders/1812X3mYzpu0OuFf4hElXj0NkTKhdhRAD?usp=drive_link" target="_blank">Narelle</a></li>
            <li><a href="https://drive.google.com/drive/folders/1HbXt0uMirIfRWXgNWUPDr9YTUcwRfng-?usp=drive_link" target="_blank">Wednesday 7:30pm Intermediate</a></li>
            <li><a href="https://drive.google.com/drive/folders/17ReJL2uSnyqVRzYmET7MXuwQUBx5B2XL?usp=drive_link" target="_blank">Wednesday 6:30pm Advanced</a></li>
            <li><a href="https://drive.google.com/drive/folders/1h3HZtsb16FlQ85f34UCyhWD7u9Tn9Ijj?usp=drive_link" target="_blank">Brady</a></li>
        </ul>

    </article>
