    <article id="fairfield">
        <h1>Sirens Pole Competition Media</h1>
        
        <p>Thank you for making Sirens unforgettable!</p>
        
        <h2>Miscellaneous media</h2>
        <p>Non-performance media (venue, prizegiving, etc) is free to preview <a href="https://photosby.loganwu.co.nz/albums/?album=00_miscellaneous_sirens" target="_blank">here</a> and download via Google Drive <a href="https://drive.google.com/drive/folders/16T2jlxh5jutFBr_Jy0BwCqTvfzduMAPu?usp=drive_links" target="_blank">here</a>.</p>
        
        <h2>How to order performance media</h2>
        <p>If you have not seen your photo previews, please get in touch for your link (<a href="https://instagram.com/photosby.loganwu" target="_blank">@photosby.loganwu</a> on Instagram or <a href="mailto:loganbwu@gmail.com">loganbwu@gmail.com</a>).</p>
        <p>There are four purchase options:</p>
        <table>
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Per photo (if ordering individually)</td>
                    <td>$15</td>
                </tr>
                <tr>
                    <td>Video edit</td>
                    <td>$35</td>
                </tr>
                <tr>
                    <td>All photos</td>
                    <td>$75</td>
                </tr>
                <tr>
                    <td>All photos + video edit</td>
                    <td>$95</td>
                </tr>
            </tbody>
        </table>
        <p>Videos are edited upon payment. Video edits include cuts between two cameras and sound mixed from original music and the audience. Original media are stored for at least 6 months after the event so you can always change your order.</p>
        <p>Payment can be made to:<br>
            Name: Logan Wu Business<br>
            BSB: 062-692<br>
            Account: 8299 8746
        </p>
        <p>Instagram handles of the media team:<br>
            <a href="https://instagram.com/photosby.loganwu" target="_blank">@photosby.loganwu</a> (feel free to tag me)<br>
            <a href="https://instagram.com/thigh_bruise" target="_blank">@thigh_bruise</a><br>
            <a href="https://instagram.com/gillybeanbag" target="_blank">@gillybeanbag</a>
        </p>
        
        
        <h2>Order form</h2>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe7Fj4C-TMVkYKIzu1diAltbf26eAPCu-_aALzIqiWSu6r_LQ/viewform?embedded=true" width="100%" height="2600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        
        <h2>Previews</h2>
        <p>There is nothing here yet! Miscellaneous event photos will be available here and performance previews will be emailed, normally within one week.</p>
        <!-- <ul>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous_sirens" target="_blank">Miscellaneous</a></li>
        </ul> -->
        
        
    </article>