    <article id="fairfield">
        <h1>Sirens Pole Competition Media</h1>

        <h2>Pricing schedule</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Photo (each)</td>
                    <td>$15</td>
                </tr>
                <tr>
                    <td>Video edit</td>
                    <td>$35</td>
                </tr>
                <tr>
                    <td>All photos</td>
                    <td>$75</td>
                </tr>
                <tr>
                    <td>All photos + video edit</td>
                    <td>$95</td>
                </tr>
            </tbody>
        </table>

        <p>An order form will be available here.</p>

        <h2>Previews</h2>
        <p>There is nothing here yet! Miscellaneous event photos will be available here and performance previews will be emailed, normally within one week.</p>
        <!-- <ul>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous_sirens" target="_blank">Miscellaneous</a></li>
        </ul> -->

        
    </article>