    <article id="fairfield">
        <h1>Zero Gravity Showcase Media</h1>

        <h2>Pricing schedule</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Photo (each)</td>
                    <td>30 RMB</td>
                </tr>
                <tr>
                    <td>Photos (whole act) + video</td>
                    <td>200 RMB</td>
                </tr>
            </tbody>
        </table>
        <p>Please make payment to:</p>
        <p>Logan Wu (Wechat)<br></p>
        <p>Then send your request to Logan on Wechat or via <a href="https://instagram.com/photosby.loganwu">@photosby.loganwu</a> For specific photo requests,, copy/paste the filenames from the top-left corner.</p>
        <p>Delivery is via Google Drive by default but can be by Wechat upon request.</p>

        <h2>Previews</h2>
        <ul>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=00_miscellaneous_zg" target="_blank">Miscellaneous (free)</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=01_johanna" target="_blank">Johanna (free)</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=02_karina" target="_blank">Karina</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=03_darya" target="_blank">Darya</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=04_heather" target="_blank">Heather</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=05_johanna_and_heather" target="_blank">Johanna and Heather</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=06_lauren" target="_blank">Lauren</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=07_santas" target="_blank">Santas</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=08_arlene" target="_blank">Arlene</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=09_fairy_trio" target="_blank">Fairy Trio</a></li>
            <li><a href="https://photosby.loganwu.co.nz/albums?album=10_finale" target="_blank">Finale (free)</a></li>
        </ul>

        
    </article>
